html, body {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: arial;
  font-size: 85%;
  background-color: #293134;
  color: #d9d9d9;
}

div.header h1 {
  margin-bottom: .2em;
}

div.header p.tagline {
  margin-top: .2em;
}

a {
  color: #678cb1;
}

form {
  margin: 0px;
  padding: 0px;
}

table {
  border-spacing: 0px;
  margin-bottom: .5em;
}

td, th {
  font-size: .9em;
  padding-left: 0px;
  padding-right: .6em;
  padding-bottom: .2em;
  text-align: left;
}

ul {
  padding-left: 1.7em;
}

input {
  margin-left: -1px;
  background-color: #3f4f54;
  padding: 3px;
  border-color: #293134;
  color: #e0e2e4;
  border-width: 1px;
}

input[type="text"],
input[type="password"] {
  border-style: solid;
  font-family: courier;
  width: 100%;
}

input[type="submit"] {
  padding: .3em .4em .3em .4em;
}

div.header,
div.content,
div.footer {
  padding: 1px 14px 1px 14px;
}

div.content {
  background-color: #2f393c;
}
