body {
  font-family: arial;
  font-size: 85%;
}

td, th {
  font-size: .8em;
  padding-left: 0px;
  text-align: left;
}

ul {
  padding-left: 1.7em;
}

input {
  margin-left: 0px;
}
